:root{
  --enabledButtonColor: rgb(113, 104, 90);
  --enabledTextColor: rgb(28, 20, 8);
  --buttonHoverColor: rgb(103, 78, 78);
  --disabledButtonColor: rgb(151, 122, 83);
  --disabledTextColor: rgb(68, 67, 66);
  --enabledSectionColor: blanchedalmond;
  --disabledSectionColor: rgb(240, 229, 215);
  --textOnLightBackground: rgb(201, 159, 103);  
  --textOnDarkBackground: rgb(118, 96);
  --navBarColor: rgb(106, 63, 63);
}

* body{
  background-image: url(../images/135.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 99%;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
  background-color: none;
  align-items: center;

}

.hero-banner {
  height: 20vh;
  background-color: none;
  color: none;
  padding: 2% 6%;
  display: flex;
  justify-content: flex;
  align-items: flex;
  text-align: left;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--enabledSectionColor);
  color: rgb(9, 9, 9);
  margin: 0;
  padding: 10px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
  box-shadow: 4px 4px 4px 4px black;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 40%;
  height: 110%;
  background-color: blanchedalmond;
  color: black;
  box-shadow: 2px 2px 2px 2px var(--secondary);
}

.card{
  background-color: blanchedalmond;
  height: 30%;
  width: 110%;
  margin: 0;
  box-shadow: 2px 2px 2px 2px var(--secondary);
}

.page-section {
  margin: 25px 0;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 20px;
  border-right: 4px;
  font-size: 2vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%; 
}

.page-section p {
  margin-bottom: 0%;
  background-color: none;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
}

.flex-item {
  border: 5px solid var(--secondary);
  background-color: none;
  color: var(--tertiary);
  height: 150px;
  /* max-height: 150px; */
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flex-item:first-child {
    height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: #fff(0 0 0 3);
}

.flex-item div {
  background-color: beige;
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}


#personal-info {
  background-image:  none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#personal-goals {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
}

@media screen and (max-width:880px) {
  header, div, main
  footer{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
    background-color: beige;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item {
    min-height: 400px;
    }
}

