* {
  margin: 0;
  padding: 0;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
  /* background-image: url("../images/135.jpg"); */
  
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
/* .container-fluid {
  color: var(--dark);
  text-shadow: 5px 5px 5px rgb(118, 96, 68);
  text-align: center;
  text-shadow: 2px 2px 2px var(--secondary);
} */

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

