:root{
  /* For Notes: oneDaySize: 35, twoDaySize: 25 */
  /* For Day and Timer: oneDaySize: 35, twoDaySize: 25 */
  --notesSize: 35px;
  --dayTimerSize: 25px;
  /*for enabled/disabled buttons, sections, and cards*/
  --enabledButtonColor: rgb(113, 104, 90);
  --enabledTextColor: rgb(28, 20, 8);
  --buttonHoverColor: rgb(103, 78, 78);
  --disabledButtonColor: rgb(151, 122, 83);
  --disabledTextColor: rgb(68, 67, 66);
  --enabledSectionColor: blanchedalmond;
  --disabledSectionColor: rgb(240, 229, 215);
  --textOnLightBackground: rgb(201, 159, 103);  
  --textOnDarkBackground: rgb(118, 96);
  --navBarColor: rgb(106, 63, 63);
}

* body{
  background-image: url(../images/135.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 99%;
}

.dropdown-menu{
  /* I don't know how to edit variables for bootstrap!*/
  --dropdown-link-active-color: var(--textOnDarkBackground);
  --dropdown-link-active-bg: var(--textOnLightBackground);
}

#navDropDown{
  background-color: var(--navBarColor);
  border-radius: 5px;
}

.card, 
.container{
  border-style: none;
  background-color: var(--enabledSectionColor);
}

.containerTextLeft{
  padding: 20px 9px 30px;
  align-items: center
}

.container-fluid {
  color: var(--dark);
  /* background-color: #fff; */
  text-shadow: 5px 5px 5px rgb(118, 96, 68);
  text-align: center;
  text-shadow: 2px 2px 2px var(--secondary);
  padding: 20px 9px 30px; 
  margin: 0px 0px 0px; 
  border: 0px;
}

.setButton{
  justify-content: right;
  background-color: var(--enabledButtonColor);
  color: var(--enabledTextColor);
}

.setButton:disabled{
  background-color: var(--disabledButtonColor);
  color:var(--disabledTextColor);
}

.setButton:hover {
  color: var(--textOnLightBackground);
  background-color: var(--buttonHoverColor);
  border-color:var(--textOnLightBackground); /*set the color you want here*/
}

h2{
  color: var(--disabledSectionColor);
  background-color: var(--enabledButtonColor);
  padding: 20px;
  border-radius: 10px;
}

p{
    display: inline-block;
    font-size: 35px;
}

.image {
  position: relative;
}
  
.image:hover:after {
  position: absolute;
  content: attr(title);
  display: inline-block;
  left: 0px;
  top: 0px;
  padding: 5px;
  background-color: black;
  color: white;
}

/* .custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: red;
} */

/* Ids */
#border{
  border: solid;
  border-radius: 20px;
  background-color: var(--enabledSectionColor);
}
#cardContent{
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
}
#vertRightBorder{
  border-bottom-style: solid;
  background-color: var(--enabledSectionColor);
  border-radius: 17px 0px 0px 0px;
}
#vertLeftBorder{
  border-left-style: solid;
  border-bottom-style: solid;
  vertical-align: baseline;
  align-items: baseline;
  background-color: var(--enabledSectionColor);
  border-radius: 0px 17px 0px 0px;
}

#timer{
  font-size: var(--dayTimerSize);
  display: inline;
  height: 60px;
  float: right;
  background-color: var(--enabledSectionColor);
}

#buttonGridTop{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  background-color: var(--enabledSectionColor);
}

#buttonGridBottom{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  background-color: var(--enabledSectionColor);
}

#buttonGrid{
  background-color: var(--enabledSectionColor);
}

#buttonGrid:disabled{
  background-color: black;
}

#notesForm{
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: -12px;
  margin-right: -12px;
  border-top-style: solid;
  background-color: var(--enabledSectionColor);
}

#accessoryGridTop{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top-style: solid;
  font-size: 25px;
  background-color: var(--enabledSectionColor);
}

#accessoryGridBottom{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  background-color: var(--enabledSectionColor);
}

#cardio{
  margin-top: 10px;
  background-color: var(--enabledSectionColor);
}

#cardioForm{
  background-color: var(--enabledSectionColor);
  border-radius: 0px 0px 17px 17px;
}
#cardioInput{
  background-color: white;
}
#complete{
  padding-top: 10px;
  margin-bottom: 10px;
  border-top-style: solid;
}

#dayTimer{
  font-size: var(--dayTimerSize);
  padding-top: 5px;
  height: 60px;
  width: 100px;
  display: inline-block;
}

#noteSize{
  font-size: var(--notesSize);
}

#bigContainer{
  background-color: transparent;
}

#card{
  background-color: transparent;
}

/* Tooltips */

.tooltiptext {
  visibility: hidden;
  background-color: black;
  border: solid;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  font-size: 10px;
  
  width: 120px;
  height: fit-content;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 105%;
}

.setButton:hover .tooltiptext {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  /* visibility: visible; */
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
