:root{
  /* For Notes: oneDaySize: 35, twoDaySize: 25 */
  /* For Day and Timer: oneDaySize: 35, twoDaySize: 25 */
  --notesSize: 35px;
  --dayTimerSize: 25px;
  /*for enabled/disabled buttons, sections, and cards*/
  --enabledButtonColor: rgb(113, 104, 90);
  --disabledButtonColor: rgb(151, 122, 83);
  --enabledSectionColor: blanchedalmond;
  --disabledSectionColor: rgb(240, 229, 215);
  --textOnLightBackground: rgb(201, 159, 103);  
  --textOnDarkBackground: rgb(118, 96,);
}

.dropdown-menu{
  /* I don't know how to edit variables for bootstrap!*/
  --dropdown-link-active-color: red;
  --dropdown-link-active-bg: red;
}


.card, 
.container{
  border-style: none;
  background-color: beige;
}

button{
  justify-content: right;
  background-color: var(--enabledButtonColor);
  color: rgb(164, 152, 137);
}

button:disabled{
  background-color: var(--disabledButtonColor);
  color:rgb(138, 33, 12);
}

p
{
    display: inline-block;
    font-size: 35px;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(113, 104, 90);
  border-color:rgba(181, 158, 83, 0.727); /*set the color you want here*/
}

.image {
  position: relative;
}
  
.image:hover:after {
  position: absolute;
  content: attr(title);
  display: inline-block;
  left: 0px;
  top: 0px;
  padding: 5px;
  background-color: black;
  color: white;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}

/* Ids */
#border{
  border: solid;
  border-radius: 20px;
  background-color: var(--enabledSectionColor);
}
#cardContent{
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
}
#vertRightBorder{
  border-bottom-style: solid;
  background-color: var(--enabledSectionColor);
  border-radius: 17px 0px 0px 0px;
}
#vertLeftBorder{
  border-left-style: solid;
  border-bottom-style: solid;
  vertical-align: baseline;
  align-items: baseline;
  background-color: var(--enabledSectionColor);
  border-radius: 0px 17px 0px 0px;
}

#timer{
  font-size: var(--dayTimerSize);
  display: inline;
  height: 60px;
  float: right;
  background-color: var(--enabledSectionColor);
}

#buttonGridTop{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  background-color: var(--enabledSectionColor);
}

#buttonGridBottom{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  background-color: var(--enabledSectionColor);
}

#buttonGrid{
  background-color: var(--enabledSectionColor);
}

#notesForm{
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: -12px;
  margin-right: -12px;
  border-top-style: solid;
  background-color: var(--enabledSectionColor);
}

#accessoryGridTop:enabled{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top-style: solid;
  font-size: 25px;
  background-color: var(--enabledSectionColor);
}

#accessoryGridBottom{
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  background-color: var(--enabledSectionColor);
}

#cardio{
  margin-top: 10px;
  background-color: var(--enabledSectionColor);
}

#cardioForm{
  background-color: var(--enabledSectionColor);
  border-radius: 0px 0px 17px 17px;
}
#cardioInput{
  background-color: white;
}
#complete{
  padding-top: 10px;
  margin-bottom: 10px;
  border-top-style: solid;
}

#dayTimer{
  font-size: var(--dayTimerSize);
  padding-top: 5px;
  height: 60px;
  width: 100px;
  display: inline-block;
}

#noteSize{
  font-size: var(--notesSize);
}

#bigContainer{
  background-color: transparent;
}

#card{
  background-color: transparent;
}

/* Tooltips */

.tooltiptext {
  visibility: hidden;
  background-color: black;
  border: solid;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  font-size: 10px;
  
  width: 120px;
  height: fit-content;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 105%;
}

.btn:hover .tooltiptext {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  /* visibility: visible; */
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
